/* 
declaration block:

selector {
    property: value;
    property2: value2;
}
*/

/* this changes the color of the background and text */
body{
    background-color:black;
    color: red;
}

/* this changes the position and size of the navigation bar */
nav{
    padding: 5px;
    line-height: 30px
}

/* this changes the position and size of the footer */
footer{
    text-align: center;
    margin-right: 200px;
    position: fixed;
    bottom: 0;
    position: absolute;
    left: 45%
}

/* this changes the position and size of the meme image */
#memeImage{
    margin-right: 200px;
    position: absolute;
    left: 45%;
    width: 200px;
}

/* this changes the position of the heading */
h1{
    text-align: center;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: rgb(119, 6, 44);
    color: rgb(3, 33, 73);
}

nav a{
    padding: 8px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(80, 212, 235);
    border: 4px solid rgb(235, 164, 164);
    border-radius: 10px;
    font-weight: bold;
}